* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, Roboto, sans-serif;
}

:root {
  --navbarHoverColor: #cc3f0c;
  --alternativeNavbarHoverColor: #c47b4a;
  --navbarStillColor: #555656;
  --alternativeNavbarStillColor: #020303;
  --navarItemClickBackgroundColor: #dee5e8;
  --linkColor: #cc3f0c;
  --bodyTextColor: #121313;
  --HeaderFooterBackgroundColor: #e7f0f3;
  --alternativeHeaderFooterBackgroundColor: #ebf2f5;
  --contentWidth: 800px;
}

html {
  /*Add this so that the presence vs. absence of scrollbar does not alter width and thus size/location of header etc.*/
  /* Ref: https://stackoverflow.com/questions/18548465/prevent-scroll-bar-from-adding-up-to-the-width-of-page-on-chrome */
  width: 100vw;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  /* with these settings, the page is centered according to the view width (vw) when there's no vertical scrollbar*/
  /* i.e. when there's a scrollbar, it is very very slightly right of center of the remaining viewport*/
}

body {
  /* To stop a scrollbar from appearing next to footer: */
  /*Ref: https://stackoverflow.com/questions/42508504/min-height-100vh-creates-vertical-scrollbar-even-though-content-is-smaller-than*/
  display: flex;
}

#body-container {
  width: 100%;
  margin: 0;
  background-color: #f9f9fa;
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
  display: block;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* STYLE THE HEADER */

header {
  background-color: var(--HeaderFooterBackgroundColor);
  width: 100%;
  display: inline-block;
}

#header {
  width: calc(
    var(--contentWidth) + 40px
  ); /* 900 + 40 to accommodate 20 px margin (and padding when hovered) on both sides for logo and navbar */
  margin: auto;
  /* Preferred solution to send logo to left and navbar to right using display flex and justify content: space-between: */
  /* Reference: https://stackoverflow.com/questions/5067279/how-to-align-this-span-to-the-right-of-the-div */
  display: flex;
  justify-content: space-between;
  /* have previously used float left and right, which I now deleted. */
}

#header > span {
  display: inline-block;
  line-height: 100%; /* makes centering easier */
  padding: 30px 0;
}

#header > span a {
  margin: 15px 20px;
  padding: 5px 0px;
  text-decoration: none;
  color: var(--alternativeNavbarStillColor);
  vertical-align: middle;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 20px;
  margin-left: 20px;
}

#header > span.navbar > a:hover,
#header > span.navbar > a.current-page {
  color: var(--navbarHoverColor);
  background-color: var(--navarItemClickBackgroundColor);
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 7px;
}

#header > span.navbar > a:hover {
  transition: all 0.4s;
}

.logo > a {
  font-size: 22px;
  letter-spacing: 0.07em;
}

.logo > a:hover {
  cursor: default;
}

.navbar > a {
  font-size: 18px;
}

label {
  display: none;
  font-size: 26px;
  padding: 20px 30px;
}

#toggle {
  display: none;
}

/* END == STYLE THE HEADER */

/* MOBILE VERSION */
@media screen and (max-width: 850px) {
  label {
    display: inline-block;
    text-align: right;
    cursor: pointer;
  }

  #header > span {
    display: block;
    padding: 0;
  }

  #header > span > a {
    display: block;
  }

  .logo {
    /* display: inline-block; */
    /* justify-content: space-between; */
  }
  #header {
    justify-content: unset;
    display: block;
  }

  .navbar {
    display: block;
    text-align: center;
    width: 100vw;
  }

  .toggle-cls {
    width: 100vw;
    display: inline-block;
    text-align: center;
    /* float: right; */
  }

  .logo {
    width: 100vw;
    display: inline-block;
    text-align: center;
    /* float: left; */
  }

  #toggle:checked + .navbar {
    display: none;
  }

  /* explanation as to why "body" is used in the line below: https://stackoverflow.com/questions/19038240/media-query-styles-not-overriding-original-styles */
  body .content-wrap {
    width: 75vw;
  }
}

/* STYLE THE CONTENT */

.content-wrap {
  padding: 30px 0;
  width: 800px;
  margin: auto;
  display: block;
  /* If display is inline-block then margin:auto; doesn't work.*/
}

.about-me-text-class {
  width: 100%;
}

.about-me-text-class > h1 {
  padding-bottom: 15px;
  font-weight: normal;
  font-size: normal; /* this sets to what's normal for h1, which is 32px */
}

/* .about-me-text-class >  */
p {
  padding: 10px 0;
  font-size: normal;
  line-height: 1.75rem;
  text-align: justify;
  color: var(--bodyTextColor);
}

/* .about-me-image-class {
  width: 60%;
  float: right;
} */

/* .about-me-image-class >  */
.about-me-text-class > p > img {
  width: 35%;
  margin-left: 50px;
  margin-bottom: 50px;
  border-radius: 5%;
  border-style: solid;
  border-width: 2px;
  border-color: #d8d8d8;
  float: right;
}

/* END == STYLE THE CONTENT */

/* STYLE THE FOOTER */
.footer {
  background-color: var(--HeaderFooterBackgroundColor);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  /* To stop a scrollbar from appearing next to footer: */
  display: flex;
  justify-content: center;
}

.footer > a > img {
  margin: 10px;
  width: 30px;
  height: 30px;
}

/* END == STYLE THE FOOTER */

/* STYLE THE SINGLE-BLOG-POST */

.blog-title {
  font-family: "Comfortaa", cursive;
  font-size: xx-large;
  padding: 20px 0;
  text-transform: capitalize;
}

.blog-post {
  padding: 50px 60px;
  text-align: center;
  background-color: #ededed;
  border-radius: 1%;
}

.blog-image {
  text-align: center;
}

/* END STYLE THE SINGLE-BLOG-POST */

.hangingindent {
  padding-left: 20px;
  text-indent: -20px;
}

/* STYLE THE SOLID LINE */
hr.solid {
  height: 0;
  border: 0;
  border-top: 1px solid black;
  /* seems like best way to do this is to just have a solid top border.  */
}

iframe {
  width: 100%;
  height: 800px;
  display: block;
  padding: 0;
  border: 0;
}

h3 {
  padding: 10px 0;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--navbarHoverColor);
}
